<% provide(:title, "About") %>

<div class="about-us">
<div class="container-fluid clear-nav">
	<h1>Nationwide Mortgage Group</h1>
	
	<span class='accent-border'>&nbsp</span>
	
	<div class="row">
		<div class="col-sm-6">
			<h2>About us</h2>
			<p>
				At Nationwide Mortgage Group, our mission is to serve our customers with honesty,
				integrity and expertise. We offer home loans to our clients with the lowest 
				interest rates and closing costs possible. We pledge to help borrowers overcome 
				roadblocks that can arise while securing a home loan.
			</p>		
			<p>
				Have a question? ... Already know what you’re looking for? Contact 
				Nationwide Mortgage Group:
			</p>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="container-fluid">
					<h4>Email</h4>
					<p>george@nationwidemtg.us</p>
				</div>
			</div>
			<div class="row">
				<div class="container-fluid">
					<h4>Phone</h4>
					<p><strong>Main:</strong> 1(818)907-6444</p>
					<p><strong>Toll free:</strong> 1(800)540-7079</p>
					<p><strong>Fax:</strong> 1(818)907-6555</p>
				</div>
			</div>
			<div class="row">
				<div class="container-fluid">
					<h4>Address</h4>
					<p>
						Nationwide Mortgage Group, Inc. <br>
						16255 Ventura Blvd., Ste. 707 <br>
						Encino, CA 91436
					</p>
				</div>
			</div>
			<div class="row">
				<div class="container-fluid">
					<h4>Lender information</h4>
					<p><strong>Broker License:</strong>  899563</p>
					<p><strong>Lending states:</strong>  CA</p>
				</div>
			</div>
		</div>
	</div> <!-- end .row -->
	
</div>  <!-- end .container-fluid -->
</div>
