<% provide(:title, "Thank you!") %>
<div class="center-wrap clear-nav">

<h2>Thanks! Your application has been submitted</h2>

<h3>You will receive a confirmation email shortly</h3>

<%= link_to "Home", root_path %>

</div>


<!-- DEBUG --> 

<%= debug(params) %>