<% provide(:title, "Calculators") %>

<div class='center-wrap clear-nav'>

<h1>Tools and Resources</h1>

	<ul class='center'>
		<li>
			<h3><%= link_to "Prequalification Calculator", 
											prequalification_calculator_path %></h3>
			<p>See how much you can borrow with your desired loan terms</p>
		</li>
		<li>
			<h3><%= link_to "Mortgage Calculator", mortgage_calculator_path %></h3>
			<p>Calculate your monthly payments and interest</p>
		</li>
		<li>
			<h3><%= link_to "Refinance Calculator", '#' %></h3>
			<p>Find out how much you could save by changing the terms of your loan</p>
		</li>		
	</ul>

</div>