<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <p>Fields in red cannot be left blank</p>
    
    <ul>
    <% fields_with_errors = object.errors.keys %>
    <% fields_with_errors.each do |field| %>
    	<% object.errors[field].each do |msg| %>
    		<% unless msg == "can't be blank" %>
    			<li><%= msg %></li>
    		<%end%>	
    	<%end%>
    <%end%>
    </ul>
  </div>
<% end %>