<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <p>Fields in red cannot be left blank</p>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
			<% unless msg.end_with?("can't be blank") %>
				<li><%= msg %></li>
			<%end%>
    <% end %>
    </ul>
  </div>
<% end %>